@font-face {
   font-family: 'Optima Medium';
   font-display: swap;
   src: url('file:///C:/Users/Windows/AppData/Local/Mobirise.com/Mobirise/projects/project-2025-02-26_151408/fonts/Optima%20Medium/font.ttf');
}
